@model Domain.ViewModels.PostOfficeViewModel

@{
    ViewBag.Title = "Delete";
}

<div class="container">

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12">

            <div class="panel panel-info card-2 mt">


                <div class="panel-heading">
                    <div class="panel-title">Delete State Record</div>


                </div>

                <div class="panel-body">

                    <div class="col-md-8 col-md-offset-2" style="margin-top:15px;">
                        <table class="table table-responsive table-hover">
                            <tr>

                                <th>@Html.DisplayNameFor(model => model.PostOfficeId)</th>
                                <td>@Html.DisplayFor(model => model.PostOfficeId)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.PostOfficeName)</th>
                                <td>@Html.DisplayFor(model => model.PostOfficeName)</td>

                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.DistrictName)</th>
                                <td>@Html.DisplayFor(model => model.DistrictName)</td>

                            </tr>


                        </table>
                        <div class="col-md-12">

                            <p>Are you sure you want to delete this? Click on delete button..</p>

                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2" style="margin-top:15px;">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" />
                                <a href="@Url.Action("Index", "PostOffice")" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-arrow-left"></span> Go Back
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>