@model  Domain.ViewModels.TransferOrderViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (TempData.ContainsKey("OperationMessage") && !string.IsNullOrWhiteSpace(TempData["OperationMessage"].ToString()))
    {
        //vMessage = TempData["OperationMessage"].ToString();
        <script type="text/javascript">
            window.onload = function () {

                 alert('@TempData["OperationMessage"]');
            };
        </script>
    }
}
<style>

    .list-group.list-group-horizontal {
        display: flex;
        flex-direction: row;
    }

        .list-group.list-group-horizontal .list-group-item {
            margin-bottom: 0;
            margin-right: 0;
            border-right-width: 0;
        }

            .list-group.list-group-horizontal .list-group-item:first-child {
                border-top-right-radius: 0;
                border-bottom-left-radius: 4px;
            }

            .list-group.list-group-horizontal .list-group-item:last-child {
                border-top-right-radius: 0px;
                border-top-right-radius: 0px;
                border-bottom-left-radius: 0;
                border-right-width: 1px;
            }

</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


        
   
        <div class="row">
          
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="panel panel-success ">
                    <div class="panel-heading"><div class="panel-title">Right Of Access </div></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <fieldset>
                                    <legend>Transfer Criteria</legend>

                                    <div class="form-group">
                                        <div class="col-md-5">
                                            @Html.RadioButtonFor(model => model.TransferCriteria, "Order")
                                            @Html.Label("Order Information", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-3">

                                            @Html.RadioButtonFor(model => model.TransferCriteria, "Received")
                                            @Html.Label("Receive", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-3">

                                            @Html.RadioButtonFor(model => model.TransferCriteria, "Pending")
                                            @Html.Label("Pending", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-3">

                                            @Html.RadioButtonFor(model => model.TransferCriteria, "Canceled")
                                            @Html.Label("Canceled", htmlAttributes: new { @class = "control-label" })
                                        </div>

                                    </div>

                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <fieldset>
                                    <legend>Search Criteria</legend>

                                    <div class="form-group">
                                        <div class="col-md-2" style="margin:0px;padding-right:0px;">
                                            @Html.RadioButtonFor(model => model.StoreCriteria, "Store", new { @class = "chkStore" })
                                            @Html.Label("Store", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-2">

                                            @Html.RadioButtonFor(model => model.ItemCriteria, "Item", new { @class = "chkItem" })
                                            @Html.Label("Item", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-3">

                                            @Html.RadioButtonFor(model => model.ProductCriteria, "Product", new { @class = "chkProduct" })
                                            @Html.Label("Product", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-4">

                                            @Html.RadioButtonFor(model => model.TransTypeCriteria, "TransferType", new { @class = "chkTransferType" })
                                            @Html.Label("Transfer Type", htmlAttributes: new { @class = "control-label" })
                                        </div>

                                        <div class="col-md-2">

                                            @Html.RadioButtonFor(model => model.DateCriteria, "Date", new { @class = "chkDate" })
                                            @Html.Label("Date", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-3">

                                            @Html.RadioButtonFor(model => model.ConditionCriteria, "Condition", new { @class = "chkCondition" })
                                            @Html.Label("Condition", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                    </div>





                                </fieldset>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <legend>Select Searching Source to Search </legend>

                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="dvStore">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ToStoreId, htmlAttributes: new { @class = "control-label fontsize mt8" })
                                            @Html.DropDownListFor(model => model.ToStoreId, ViewBag.StoreList as SelectList, "Select Store", new { @class = "form-control" })


                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="dvItem">
                                        <div class="form-group">

                                            @Html.LabelFor(model => model.ItemId, htmlAttributes: new { @class = "control-label fontsize mt8" })
                                            @Html.DropDownListFor(model => model.ItemId, ViewBag.ItemList as SelectList, "Select Item", new { @class = "form-control" })


                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="dvProduct">
                                        <div class="form-group">

                                            @Html.LabelFor(model => model.ItemId, htmlAttributes: new { @class = "control-label fontsize mt8" })
                                            @Html.DropDownListFor(model => model.ItemId, ViewBag.ItemList as SelectList, "Select Product", new { @class = "form-control" })


                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="dvTransferType">
                                        <div class="form-group">

                                            @Html.LabelFor(model => model.TransferTypeId, htmlAttributes: new { @class = "control-label fontsize mt8" })
                                            @Html.DropDownListFor(model => model.TransferTypeId, ViewBag.TransferTypeList as SelectList, "Select Transfer Type", new { @class = "form-control" })


                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="dvConditionOfItem">
                                        <div class="form-group">

                                            @Html.LabelFor(model => model.ConditionOfItemId, htmlAttributes: new { @class = "control-label fontsize mt8" })
                                            @Html.DropDownListFor(model => model.ConditionOfItemId, ViewBag.ConditionList as SelectList, "Select Item", new { @class = "form-control" })


                                        </div>
                                    </div>
                                    <div id="dvDate">
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="dvDate">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                            </div>


                                        </div>
                                    </div>

                                </fieldset>
                            </div>
                            <div class="col-md-12">

                                <div class="form-group">
                                    <button class="btn btn-md btn-info pull-left" ttype="submit" name="search" value="Search"
                                            formaction="Search" formmethod="post" id="btnSearch">
                                        <i class="fa fa-save"></i> Receive
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>




                @if (Model == null)
                {


                }
                else
                {

                    <div class="card">
                        
                        <div class="card-body">


                            @if (Model.TransferOrderList.Any())
                            {

                                <div class="table-responsive">
                                    <div class="dataTables_wrapper container-fluid dt-bootstrap4">

                                        <table id="tbl" class="paginated table table-bordered dataTable" role="grid" aria-describedby="default-datatable_info">
                                            <thead>
                                                <tr>

                                                    <th id="itemname" class="sorting_asc" tabindex="0" aria-controls="default-datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 141px;">
                                                        <input type="checkbox" class="allGridCheck">
                                                    </th>
                                                    <th style="display:none">Id</th>
                                                    <th id="procuretype" class="sorting_asc" tabindex="0" aria-controls="default-datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 141px;">
                                                        From Store Name
                                                    </th>
                                                    <th id="procuredate" class="sorting_asc" tabindex="0" aria-controls="default-datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 141px;">
                                                        To Store Name
                                                    </th>
                                                    <th id="unittype" class="sorting_asc" tabindex="0" aria-controls="default-datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 141px;">
                                                        Item Name
                                                    </th>
                                                    <th id="unittype" class="sorting_asc" tabindex="0" aria-controls="default-datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 141px;">
                                                        Transaction Quantity
                                                    </th>
                                                    <th id="unittype" class="sorting_asc" tabindex="0" aria-controls="default-datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 141px;">
                                                        Unit Name
                                                    </th>
                                                    <th id="unittype" class="sorting_asc" tabindex="0" aria-controls="default-datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 141px;">
                                                        Transfer TypeName
                                                    </th>
                                                    <th id="unittype" class="sorting_asc" tabindex="0" aria-controls="default-datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 141px;">
                                                        Transfer Orderdate
                                                    </th>
                                                    <th id="unittype" class="sorting_asc" tabindex="0" aria-controls="default-datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 141px;">
                                                        Order Status
                                                    </th>
                                                    <th id="unittype" class="sorting_asc" tabindex="0" aria-controls="default-datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 141px;">
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>



                                                @for (int i = 0; i < Model.TransferOrderList.Count; i++)
                                                {

                                                    <tr class="GridFields">
                                                        <td>@Html.CheckBoxFor(m => m.TransferOrderList[i].IsChecked, new { @class = "singleGridCheck" })</td>

                                                        <td style="display:none">@Html.HiddenFor(m => m.TransferOrderList[i].TransferOrderId, new { @Value = @Model.TransferOrderList[i].TransferOrderId })</td>

                                                        <td>
                                                            @Model.TransferOrderList[i].FromStoreName
                                                        </td>
                                                        <td>
                                                            @Model.TransferOrderList[i].ToStoreName
                                                        </td>
                                                        <td>
                                                            @Model.TransferOrderList[i].ItemName
                                                        </td>

                                                        <td>
                                                            @Model.TransferOrderList[i].TransactionQuantity

                                                        <td>
                                                            @Model.TransferOrderList[i].UnitName

                                                        </td>

                                                        <td>
                                                            @Model.TransferOrderList[i].TransferTypeName

                                                        </td>
                                                        <td>
                                                            @Model.TransferOrderList[i].TransferOrderdate

                                                        </td>
                                                        <td>
                                                            @Model.TransferOrderList[i].OrderRecieve

                                                        </td>
                                                        <td>
                                                            @Model.TransferOrderList[i].OrderRecieve

                                                        </td>

                                                    </tr>
                                                }



                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }






            </div>
        </div>

}


@section Scripts {

    <script>
        $("#dvStore").hide();
        $("#dvItem").hide();
        $("#dvProduct").hide();
        $("#dvTransferType").hide();
        $("#dvDate").hide(); 
        $("#dvConditionOfItem").hide(); 
        $('.chkStore').prop('checked', false);
        $('.chkItem').prop('checked', false);
        $('.chkProduct').prop('checked', false);
        $('.chkTransferType').prop('checked', false);
        $('.chkCondition').prop('checked', false);
        $('.chkDate').prop('checked', false);


        var radioArray = new Array(2);
       $('.chkStore').click(function () {
            radioId = $(this).attr('id');
            if (radioArray[radioId] == 1) {
                $("#dvStore").hide();
                $(this).prop('checked', false);
                radioArray[radioId] = 0; // changing the value of given key of array
            }
            else {
                $("#dvStore").show();
                $(this).prop('checked', true);
                radioArray[radioId] = 1; // changing the value of given key of array
            }
        });

        $('.chkItem').click(function () {
            radioId = $(this).attr('id');
            if (radioArray[radioId] == 1) {
                $("#dvItem").hide();
                $(this).prop('checked', false);
                $("#ProductCriteria").attr('disabled', false);
                radioArray[radioId] = 0; // changing the value of given key of array
            }
            else {
                $("#dvItem").show();
                $(this).prop('checked', true);
                $("#ProductCriteria").attr('disabled', true);
                radioArray[radioId] = 1; // changing the value of given key of array
            }
        });

        $('.chkProduct').click(function () {
            radioId = $(this).attr('id');
            if (radioArray[radioId] == 1) {
                $("#dvProduct").hide();
                $(this).prop('checked', false);
                $("#ItemCriteria").attr('disabled', false);
                radioArray[radioId] = 0; // changing the value of given key of array
            }
            else {
                $("#dvProduct").show();
                $(this).prop('checked', true);
                $("#ItemCriteria").attr('disabled', true);
                radioArray[radioId] = 1; // changing the value of given key of array
            }
        });


        $('.chkTransferType').click(function () {
            radioId = $(this).attr('id');
            if (radioArray[radioId] == 1) {
                $("#dvTransferType").hide();
                $(this).prop('checked', false);
                radioArray[radioId] = 0; // changing the value of given key of array
            }
            else {
                $("#dvTransferType").show();
                $(this).prop('checked', true);
                radioArray[radioId] = 1; // changing the value of given key of array
            }
        });

        $('.chkCondition').click(function () {
            radioId = $(this).attr('id');
            if (radioArray[radioId] == 1) {
                $("#dvConditionOfItem").hide();
                $(this).prop('checked', false);
                radioArray[radioId] = 0; // changing the value of given key of array
            }
            else {
                $("#dvConditionOfItem").show();
                $(this).prop('checked', true);
                radioArray[radioId] = 1; // changing the value of given key of array
            }
        });
        $('.chkDate').click(function () {
            radioId = $(this).attr('id');
            if (radioArray[radioId] == 1) {
                $("#dvDate").hide();
                $(this).prop('checked', false);
                radioArray[radioId] = 0; // changing the value of given key of array
            }
            else {
                $("#dvDate").show();
                $(this).prop('checked', true);
                radioArray[radioId] = 1; // changing the value of given key of array
            }
        });
      
        
           

    </script>

    
}