@model Domain.ViewModels.SubSubCategoryViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubSubCategoryViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.SubSubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSubCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubSubCategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
