@model IEnumerable<Domain.ViewModels.SubSubStoreViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubSubStoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubStoreId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubSubStoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubStoreName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubSubStoreId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubSubStoreId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubSubStoreId })
        </td>
    </tr>
}

</table>
