@model Domain.ViewModels.SubSubSubStoreViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SubSubSubStoreViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubSubSubStoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSubSubStoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubStoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubStoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubSubStoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSubStoreName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubSubSubStoreId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
