@model Domain.ViewModels.BrandViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BrandViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
     
        <dt>
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubSubSubSubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSubSubSubCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubSubSubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSubSubCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubSubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSubCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BrandId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
