@model Domain.ViewModels.TransferTypeViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TransferTypeViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransferTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransferTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferTypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
