@model IEnumerable<Domain.ViewModels.TransferTypeViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransferTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransferTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransferTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransferTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransferTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransferTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransferTypeId })
        </td>
    </tr>
}

</table>
