@model IEnumerable<Domain.ViewModels.CompanyViewModel>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><i class="fa fa-table"></i>Company View</div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="dataTables_wrapper container-fluid dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3">
                                        Show entries
                                    </label>
                                    <select class="form-control form-control-sm col-sm-3 col-md-3">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>

                                </div>

                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-6 col-md-6" style="text-align:right">
                                        Search:
                                    </label>
                                    <div class="col-sm-6 col-md-6">
                                        <input type="search" id="catsearch" class="form-control form-control-sm" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <a href="@Url.Action("Create", "Company")" title="Create Company" class="btn btn-primary btn-square waves-effect waves-light m-1">Create</a>

                            </div>
                            <div class="col-sm-12">
                                <table id="default-datatable" class="table table-bordered dataTable" role="grid" aria-describedby="default-datatable_info">
                                    <thead>
                                        <tr>

                                            <th class="sorting_asc" tabindex="0" aria-controls="default-datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 141px;">
                                                @Html.DisplayNameFor(model => model.CompanyName)
                                            </th>
                                            <th>Options</th>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr role="row" class="even Search">

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                                </td>
                                                <td>

                                                    <a href="@Url.Action("Edit", "Company", new { id = item.CompanyId })" title="Edit Item" class="btn btn-sm btn-warning"><span class="fa fa-edit"></span></a>
                                                    <a href="@Url.Action("Details", "Company", new { id = item.CompanyId })" title="Details Item" class="btn btn-sm btn-success"><span class="fa fa-eye"></span></a>
                                                    <a href="@Url.Action("Delete", "Company", new { id = item.CompanyId })" title="Delete Item" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></a>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script>

        $(document).ready(function () {

            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
            }


            $("#catsearch").keyup(function () {

                var searchText = $("#catsearch").val().toLowerCase();
                $(".Search").each(function () {

                    if (!Contains($(this).text().toLowerCase(), searchText)) {

                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });

            });

        });

    </script>
}